.header-page-container{
    background-color: #242526;
}

.p5{
    padding: 5px;
}
.cover-img-container{
    
    display: flex;
    justify-content: center;
}
.cover-img{
    width: 940px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* ===================================== */
.information{
    display: flex;
    margin: 0 240px;
}

.avt{
    height: 164px;
    width: 164px;
    border-radius: 50%;
    margin-right: 16px;
}

.name-container{
    width: 700px;
    height: 80px;
}
.name{
    color: white;
    display: flex;
    height: 70px;
}
.name h2{
    font-weight: 700;
    margin-right: 5px;
}

p {
    color: white    ;
}
 p:hover {
    cursor: pointer;
    text-decoration: underline;
 }

.btn{
    display: flex;
    margin-left: auto;
}

 .form-control{
    border: none !important;
 }

 .name-btn{
    margin-right: 10px;
 }

 .vv{
    display: flex;
    align-items:end;
 }

 .img-friend{
    display: flex;
   width: 666px;
   height: 54px;
 }
 .name-btn-down{
    margin-left: auto;
 }

 .hr{
    color: white;
    margin: 16px 0;
    width: 850px;
   margin-left: 240px;
   margin-bottom: 4px;
 }

 .img-1{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: -10px;
}

.pagee{
    display: flex;
}
.page-bt{
    height: 30px;
    display: flex;
    /* justify-content: center; */
}

.page-ct{
    cursor: pointer; 
    color: white;
    display: flex;
    align-items: center;
    padding: 28px 16px;
}

.page-bt :hover{
    background-color: #3a3b3c;
    border-radius: 3px;
    height: 100%;
}

.page-ct-1{
    margin-left: 240px;
}

.mr{
    margin-right: 252px;
    padding: 14px 10px;
}

/* ========================================= */
.page-container{
    background-color: #18191a;
}